bin/Debug/
bin/Release/
obj/Debug/
obj/Release/

obj/LeSheTuanGo.csproj.nuget.dgspec.json
obj/project.assets.json
obj/project.nuget.cache
obj/LeSheTuanGo.csproj.nuget.g.props
.vs/LeSheTuanGo/v16/.suo
