@model IEnumerable<LeSheTuanGo.Models.ChatMessageRecord>

@{
    Layout = "_layoutWide";
    ViewData["Title"] = "聊天室";
}

<link href="~/css/chat.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet" />
<h2 style="margin-left:2vh">揪團紀錄</h2>

<div class="row" style="width: 96vw; height: 95%; border: 1px solid lightgray; margin-left:2vh;">
    @*column1*@
    <div class="col-3" style="padding:0">
        <div id="link_select" class="inbox_people">
            <h3 class="sideheader text-center">案件總覽</h3>
            <div class="headind_srch">
                <div>
                    <label>選擇團別：</label>
                    <label><input type="radio" name="grouptype" value="1">團購團</label>
                    <label><input type="radio" name="grouptype" value="2">垃圾團</label>
                    <input type="hidden" id="rec_grouptype" value="0" />
                </div>
                <hr />
                <div>
                    <label>發起人：</label>
                    <label><input type="radio" name="selfother" value="0" checked>全部顯示</label>
                    <label><input type="radio" name="selfother" value="1">我發起的</label>
                    <label><input type="radio" name="selfother" value="2">我加入的</label>
                    <input type="hidden" id="rec_selfother" value="0" />
                </div>
                <hr />
                <div>
                    <label>案件狀態：</label>
                    <label><input type="radio" name="onoff" value="0" checked>全部顯示</label>
                    <label><input type="radio" name="onoff" value="1">進行中</label>
                    <label><input type="radio" name="onoff" value="2">已結束</label>
                    <input type="hidden" id="rec_onoff" value="0" />
                </div>
            </div>
            @*<hr />*@
            <div id="link_btn" class="d-flex flex-column p-1 inbox_chat">

            </div>
        </div>

    </div>
    @*column2*@
    <div class="col-5 mesgs">
        <h3 id="chatheader" class="text-center border-bottom" style="margin-top:0">聊天室</h3>
        <div id="chat">
        </div>
        <input type="hidden" id="roomid" value="0" />
        <div class="input_msg_write">
            <input type="text" id="message" class="write_msg" placeholder="輸入訊息" />
            <button class="msg_send_btn" type="button" id="btnSend" disabled='disabled'>送出</button>
        </div>
    </div>
    @*column3*@
    <div class="col-4 inbox_people">
        <h3 class="sideheader text-center">詳細資訊</h3>
        <div id="detail"></div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script>
        "use strict";
        var connection = new signalR.HubConnectionBuilder().withUrl("/chatHub").build();
        var gmemberid = '@ViewBag.memberid';
        var username = '@ViewBag.username';
        var groupName = $("#roomid").val().toString();
        var oid = @ViewBag.groupid;
        var gt =@ViewBag.grouptype;

        //ready事件，radioBTN及send鍵掛事件，預先指定group
        $(function () {

            //掛事件
            $('input[type=radio][name="grouptype"]').change(function () {
                $("#rec_grouptype").val($(this).val());
                getOrderList($("#rec_grouptype").val(), $("#rec_selfother").val(), $("#rec_onoff").val())
            });
            $('input[type=radio][name="selfother"]').change(function () {
                $("#rec_selfother").val($(this).val());
                getOrderList($("#rec_grouptype").val(), $("#rec_selfother").val(), $("#rec_onoff").val())
            });
            $('input[type=radio][name="onoff"]').change(function () {
                $("#rec_onoff").val($(this).val());
                getOrderList($("#rec_grouptype").val(), $("#rec_selfother").val(), $("#rec_onoff").val())
            });
            $('#message').keypress(function (e) {
                if (e.which == 13) {
                    $('#btnSend').click();
                    return false;
                }
            });

            //預先選團

            if (gt != 0) {
                $(`input[type=radio][name="grouptype"][value="${gt}"]`).click()}
        })


        //建立SignalR連線，接收訊息用事件
        connection.on("ReceiveGroupMessage", function (groupName, memberid,username, message) {
              let msgclass = (gmemberid == memberid) ? 'self' : 'other';
            $("#chat").append("<div class='" + msgclass + "'>" + username + "說：<div><div>" + message + "</div></div></div>")
            $("#chat").animate({ scrollTop: $('#chat').prop("scrollHeight") }, 500);
        });

            //選團
        function chatGetOrder(oid, gt,rn,hid) {
            //加入SignalR聊天室
            var group = gt.toString()+'_'+oid.toString();
            if (connection.connectionState != "Connected") {
                connection.start().then(function () {
                    if ($("#roomid").val() != 0) {
                        connection.invoke("RemoveFromGroup", $("#roomid").val()).catch(function (err) {
                            return console.error(err.toString());
                        });
                    }
                    connection.invoke("AddToGroup", group).then(function () { $("#roomid").val(group) }).catch(function (err) {
                        return console.error(err.toString());
                    });
                }).catch(function (err) {
                    return console.error(err.toString());
                })
            }
            else {
                if ($("#roomid").val() != 0) {
                    connection.invoke("RemoveFromGroup", $("#roomid").val()).catch(function (err) {
                        return console.error(err.toString());
                    });
                }
                connection.invoke("AddToGroup", group).then(function () { $("#roomid").val(group) }).catch(function (err) {
                    return console.error(err.toString());
                });
            };
            //取得團明細
            var urlorder = "/ChatMessageRecords/chatGetOrderDetail";
            $.ajax({
                url: urlorder,
                type: "GET",
                data: {
                    orderId: oid,
                    grouptype: gt,
                    hostid: hid,
                },
                success: function (data) {
                    var s = JSON.parse(data);
                    var txt = "";
                    txt += "<input type='hidden' id='OrderId' value='" + oid + "'/>"
                    if (gt == 1) {
                        for (let i = 0; i < s.length; i++) {
                            txt += `<label>團編號：${ s[i].OrderId } </label><br />`;
                            txt += `<label>地址： ${s[i].Address} </label><br />`;
                            //txt += `<label>商品名稱： ${s[i].Address} </label>`;
                        }
                    }
                    else if (gt == 2) {
                    }

                    $("#detail").html(txt);
                },
            })
            //取得聊天紀錄
            var urlchat = "/ChatMessageRecords/chatGetChat?orderId=" + oid + "&grouptype=" + gt;
            $.ajax({
                url: urlchat,
                type: "GET",
                success: function (data) {
                    var s = JSON.parse(data);
                    var txt = "";
                        for (let i = 0; i < s.length; i++) {
                            let msgclass = (s[i].SentMemberId == gmemberid) ? 'self' : 'other';
                            txt += "<div class='" + msgclass + "'>" + s[i].username + "說：<div><div>" + s[i].Message + "</div></div></div>"
                    }
                    $("#chatheader").text(rn + " 的聊天室");
                    $("#chat").html(txt);
                    $("#chat").scrollTop($('#chat').prop("scrollHeight"));
                    $(`#link_btn div[id=btn${oid}]`).addClass("active_chat").siblings().removeClass("active_chat");

                    document.getElementById("btnSend").disabled = false;
                },
            })
        }
        //選團型
        function getOrderList(gt,so,of) {
            $.ajax({
                url: "/ChatMessageRecords/getOrderList?groupType=" + gt + "&selfother=" + so + "&onoff=" + of,
                type: "GET",
                success: function (data) {
                    var s = JSON.parse(data);
                    var txt = "";
                    if (gt == 1) {
                        for (let i = 0; i < s.length; i++) {
                            txt += `<div class="p-2 w-100 text-center" id="btn${s[i].OrderId}" data-hostid=${s[i].HostMemberId} onclick="chatGetOrder(${s[i].OrderId} , ${gt} ,'${s[i].ProductName}(編號：${s[i].OrderId}  )',${s[i].HostMemberId})"> ${s[i].ProductName} (編號：${s[i].OrderId})</div>`
                        }
                    }
                    else if (gt == 2) {
                        for (let i = 0; i < s.length; i++) {
                            txt += `<div class="p-2 w-100 text-center" id="btn${s[i].GarbageServiceId}" data-hostid= onclick="chatGetOrder(${s[i].GarbageServiceId} , ${gt} ,'${s[i].EndTime}(編號：${s[i].GarbageServiceId}  )',${s[i].HostMemberId})"> ${s[i].EndTime} (編號：${s[i].GarbageServiceId})</div>`
                        }
                    }
                    $("#link_btn").html(txt).promise().done(function () {

                        if (oid != 0) {
                            $(`#link_btn div[id=btn${oid}]`).click();
                            oid = 0;
                            gt = 0;
                        }});
                },
            })
        }

            //發訊息
        $('#btnSend').click(function () {
            var message = $("#message").val();
            if (message == "") {
                return
            }
            $("#message").val('');
            var orderid = $("#OrderId").val();
            var grouptype = $("#rec_grouptype").val();
            connection.invoke("SendMessageToGroup", $("#roomid").val(), gmemberid, username, message)
                .catch(function (err) {
                return console.error(err.toString());
            });
            $.ajax({
                type: "POST",
                url: "/ChatMessageRecords/Create",
                data: { message: message, orderid: orderid, memberid: gmemberid, grouptype: grouptype },
            });
        })

    </script>
}
