@model IEnumerable<LeSheTuanGo.Models.ChatMessageRecord>

@{
    ViewData["Title"] = "Index";
}

<style>
    #wrap {
        display: flex;
        height: 80vh;
    }

    .chat {
        position: relative;
    }

    ul {
        list-style-type: none;
    }

    .self {
        float: right;
        width: 60%;
        text-align: right;
    }

        .self > div span {
            word-break: break-all;
            background: #3F51B5 none repeat scroll 0 0;
            border-radius: 3px;
            font-size: 14px;
            margin: 0;
            color: #fff;
            padding: 5px 10px 5px 12px;
            /*width: 100%;*/
        }

    .other {
        float: left;
        text-align: left;
        width: 60%;
    }

        .other >div span {
            word-break: break-all;
            background: #e4e8fb none repeat scroll 0 0;
            border-radius: 3px;
            color: #646464;
            font-size: 14px;
            margin: 0;
            padding: 5px 10px 5px 12px;
            /*width: 100%;*/
        }
</style>
<div id="wrap">
    <div id="link" style="border:5px solid red;background-color:green;flex: 1 1 25%">
    </div>
    <div style="position: relative; border: 5px solid red; background-color: aqua; flex: 1 1 50%">
        <div id="chat" class="chat" style="width:100%;height:95%;overflow:auto;">
        </div>
        <span style="position: absolute;bottom:0 ">
            <input type="hidden" id="roomid" value="0" />
            <input type="text" id="message" />
            <button id="btnSend" disabled='disabled'>Send</button>
        </span>
    </div>
    <div id="detail" style="border:5px solid red;background-color:yellow;flex: 1 1 25%">

    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script>
        "use strict";
        var connection = new signalR.HubConnectionBuilder().withUrl("/chatHub").build();
        var gmemberid = '@ViewBag.memberid';
        var username = '@ViewBag.username';
        var groupName = $("#roomid").val().toString();
        //ready事件，查詢已參加的團產生清單
        $(function () {
        var txt = "";
        @{
            foreach (var i in ViewBag.order)
                {
                @: txt += "<button onclick='chatGetOrder("+@i+")'>" + @i + "</button>"
                }
        }
        $("#link").html(txt);
        })

        //建立SignalR連線，接收訊息用事件
        //connection.on("ReceiveMessage", function (memberid, message, orderid) {
        //    if ($("#OrderId").val() == orderid) {
        //        let msgclass = (gmemberid == memberid) ? 'self' : 'other';
        //        $("#chat").append("<div class='" + msgclass + "'>" + memberid + "說：<div>" + message + "</div></div>")
        //    }
        //    //$("#chat").scrollTop($('#chat').prop("scrollHeight"));
        //    $("#chat").animate({ scrollTop: $('#chat').prop("scrollHeight") }, 500);
        //});
        connection.on("ReceiveGroupMessage", function (groupName, memberid,username, message) {
              let msgclass = (gmemberid == memberid) ? 'self' : 'other';
             $("#chat").append("<div class='" + msgclass + "'>" + username + "說：<div>" + message + "</div></div>")
            $("#chat").animate({ scrollTop: $('#chat').prop("scrollHeight") }, 500);
        });

            //選團
        function chatGetOrder(i) {
            var group = i.toString();
            if (connection.connectionState != "Connected") {
                console.log(group);
                connection.start().then(function () {
                    if ($("#roomid").val() != 0) {
                        connection.invoke("RemoveFromGroup", $("#roomid").val()).catch(function (err) {
                            return console.error(err.toString());
                        });
                    }
                    connection.invoke("AddToGroup", group).then(function () { $("#roomid").val(group) }).catch(function (err) {
                        return console.error(err.toString());
                    });
                    document.getElementById("btnSend").disabled = false;
                }).catch(function (err) {
                    return console.error(err.toString());
                })
            }
            else {
                if ($("#roomid").val() != 0) {
                    connection.invoke("RemoveFromGroup", $("#roomid").val()).catch(function (err) {
                        return console.error(err.toString());
                    });
                }
                connection.invoke("AddToGroup", group).then(function () { $("#roomid").val(group) }).catch(function (err) {
                    return console.error(err.toString());
                });
            };
            //取得團明細
            var urlorder = "/ChatMessageRecords/chatGetOrderDetail?orderId=" + i;
            $.ajax({
                url: urlorder,
                type: "GET",
                success: function (data) {
                    var s = JSON.parse(data);
                    var txt = "";
                    for (let i = 0; i < s.length; i++) {
                        txt += "<input type='hidden' id='OrderId' value='" + s[i].OrderId+"'/>"
                        txt += "<label>團編號：" + s[i].OrderId + "</label><br />";
                        txt += "<label>地址：" + s[i].Address + "</label>"
                    }
                    $("#detail").html(txt);
                },
            })
            //取得聊天紀錄
            var urlchat = "/ChatMessageRecords/chatGetChat?orderId=" + i;
            $.ajax({
                url: urlchat,
                type: "GET",
                success: function (data) {
                    var s = JSON.parse(data);
                    var txt = "";
                    for (let i = 0; i < s.length; i++) {
                        let msgclass = (s[i].SentMemberId == gmemberid) ? 'self' : 'other';
                        txt += "<div class='" + msgclass + "'>" + s[i].username + "說：<div><span>" + s[i].Message + "</span></div></div>"
                    }
                    $("#chat").html(txt);
                    $("#chat").scrollTop($('#chat').prop("scrollHeight"));
                    document.getElementById("btnSend").disabled = false;
                },
            })
        }
            //發訊息

        $('#btnSend').click(function () {

            var message = $("#message").val();
            $("#message").val('');
            var orderid = $("#OrderId").val();
            
            connection.invoke("SendMessageToGroup", $("#roomid").val(), gmemberid, username, message).catch(function (err) {

                return console.error(err.toString());
            });
            $.ajax({
                type: "POST",
                url: "/ChatMessageRecords/Create",
                data: { message: message, orderid: orderid, memberid: gmemberid },
            });
        })

    </script>
}
