@model LeSheTuanGo.Models.Order

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div class="form-group">
                <label>產品類別</label>
                <select id="Category" class="form-control" asp-items="ViewBag.Category"></select>
            </div>
            <div class="form-group">
                <label>產品名稱</label>
                <select asp-for="ProductId" class="form-control" asp-items="ViewBag.ProductId"></select>
                <select class="form-control" data-val="true" data-val-required="The DistrictId field is required." id="DistrictId" name="DistrictId">
                    <option value="1">&#x4E2D;&#x6B63;&#x5340;</option>
                </select>
            </div>
            <div class="form-group">
                <label>城市</label>
                <select id="CityID" class="form-control" asp-items="ViewBag.City"></select>
            </div>
            <div class="form-group">
                <label asp-for="DistrictId"></label>
                <select asp-for="DistrictId" class="form-control" asp-items="ViewBag.DistrictId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Address"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxCount"></label>
                <input asp-for="MaxCount" class="form-control" />
                <span asp-validation-for="MaxCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndTime"></label>
                <input asp-for="EndTime" class="form-control" />
                <span asp-validation-for="EndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderDescription"></label>
                <input asp-for="OrderDescription" class="form-control" />
                <span asp-validation-for="OrderDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnitPrice"></label>
                <input asp-for="UnitPrice" class="form-control" />
                <span asp-validation-for="UnitPrice" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="CanGo" /> @Html.DisplayNameFor(model => model.CanGo)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="GoRangeId"></label>
                <select asp-for="GoRangeId" class="form-control" asp-items="ViewBag.GoRangeId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @*@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}*@
    <script>
        document.getElementById(CityId).onclick
    </script>
}
