@model LeSheTuanGo.ViewModels.MemberViewModel

@{
    ViewData["Create"] = "Create";
}
<div style="border:solid 5px #5B5B5B;border-radius:10px 15px;padding:30px 20px;margin:20px auto;width:auto">


    <h1>申請帳號</h1>

    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create" onsubmit="return checkValue()" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="FirstName" class="control-label" id="labelFirstName"></label>
                    <input asp-for="FirstName" class="form-control" id="txtFirstName" />
                    <span asp-validation-for="FirstName" style="color:red" id="spanFirstName"></span>
                </div><!--FirstName-->
                <div class="form-group">
                    <label asp-for="LastName" class="control-label" id="labelLastName"></label>
                    <input asp-for="LastName" class="form-control" id="txtLastName" onblur="checkName()" />
                    <span asp-validation-for="LastName" style="color:red" id="spanLastName"></span>
                </div><!--LastName-->
                <div class="form-group">
                    <label asp-for="DateOfBirth" class="control-label" id="labelBirth"></label>
                    <input type="date" asp-for="DateOfBirth" class="form-control" id="txtBirth" value="2000-01-01" min="1930-01-01" />
                    <span asp-validation-for="DateOfBirth" style="color:red" id="spanBirth"></span>
                </div><!--DateOfBirth-->
                <div class="form-group">
                    <label asp-for="image" class="control-label" id="labelImage"></label>
                    <input type="file" asp-for="image" id="txtImage" accept=".png, .jpg, .jpeg" onchange="imageShow()" />
                    <span asp-validation-for="image" style="color:red" id="spanImage"></span>
                </div><!--image-->
                <img width="200" id="uploadPreview" />

                <div class="form-group">
                    <label asp-for="Email" class="control-label" id="labelEmail"></label>
                    <input asp-for="Email" class="form-control" id="txtEmail" onblur="checkEmail()" />
                    <span asp-validation-for="Email" style="color:red" id="spanEmail"></span>
                </div><!--Email-->
                <div class="form-group">
                    <label asp-for="Password" class="control-label" id="labelPassword"></label>
                    <input asp-for="Password" class="form-control" id="txtPassword" />
                    <span asp-validation-for="Password" style="color:red" id="spanPassword"></span>
                    <br />
                    <div>
                        <label class="control-label" id="labelPasswordCheck">確認密碼</label>
                        <input type="text" class="form-control" id="txtPasswordCheck" onblur="checkPassword()" />
                        <span style="color:red" id="spanPasswordCheck"></span>
                    </div>
                </div><!--Password-->
                <div class="form-group">
                    <label asp-for="Address" class="control-label" id="labelAddress"></label>
                    <br />
                    <select id="selectCity" onchange="getDistrict('#selectDistric')" asp-items="ViewBag.City">
                        <option hidden id="optionCity">請選擇</option>
                    </select>
                    <select id="selectDistric" asp-for="DistrictId">
                        <option hidden id="optionCity">請選擇</option>
                    </select>
                    <input asp-for="Address" class="form-control" id="txtAddress" onblur="checkAddress()" />
                    <span asp-validation-for="Address" style="color:red" id="spanAddress"></span>
                </div><!--Address-->
                <div class="form-group">
                    <input type="submit" value="送出" class="btn btn-primary" />
                </div>
            </form>
            <div class="form-group">
                <input type="button" value="demo" class="btn btn-primary" onclick="demo()"/>
            </div>
        </div>
    </div>
</div>
<div>
    <a asp-action="Index" asp-controller="Home">回到首頁</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    var flagName = false, flagPassword = false, flagEmail = false, flagAddress = false;
    function checkValue() {
        checkName();
        checkPassword();
        checkEmail();
        checkAddress();
        if (flagName && flagPassword && flagEmail && flagAddress) {
            return true;
        } else {
            return false;
        }
    }//檢查全部

    function isName(Name) {
        for (let i = 0; i < Name.value.length; i++) {
            let ch = Name.value.charAt(i);
            let chCode = Name.value.charCodeAt(i);
            if (!(chCode >= 0x4E00 && chCode <= 0x9FFF)) { //如果不是中文
                if (!((ch >= "a" && ch <= "z") || (ch >= "A" && ch <= "Z"))) //如果不是英文
                    return false;
                else
                    continue;
            } else
                continue;
        }
        return true;
    }//ok
    function checkName() {
        let txtFirstName = document.getElementById("txtFirstName");
        let txtLastName = document.getElementById("txtLastName");
        let labelFirstName = document.getElementById("labelFirstName");
        let labelLastName = document.getElementById("labelLastName");
        let spanFirstName = document.getElementById("spanFirstName");
        let spanLastName = document.getElementById("spanLastName");
        if (isName(txtFirstName)) {
            labelFirstName.style.color = "green";
            txtFirstName.style.borderColor = "green";
            spanFirstName.style.color = "green";
            spanFirstName.innerHTML = "可用";
            flagName = true;
        } else {
            labelFirstName.style.color = "red";
            txtFirstName.style.borderColor = "red";
            spanFirstName.style.color = "red";
            spanFirstName.innerHTML = "請輸入中英文";
            flagName = false;
        }

        if (isName(txtLastName)) {
            labelLastName.style.color = "green";
            txtLastName.style.borderColor = "green";
            spanLastName.style.color = "green";
            spanLastName.innerHTML = "可用";
            flagName = true;
        } else {
            labelLastName.style.color = "red";
            txtLastName.style.borderColor = "red";
            spanLastName.style.color = "red";
            spanLastName.innerHTML = "請輸入中英文";
            flagName = false;
        }
    }//ok
    function isPassword(pwd) {
        var isMatch = pwd.value.match(/^.*(?=.{4,20})(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?!.*[^\x21-\x7e]).*$/)
        if (isMatch) {
            return true;
        } else {
            return false;
        }
    }//ok
    function checkPassword() {
        let txtPassword = document.getElementById("txtPassword");
        let labelPassword = document.getElementById("labelPassword");
        let spanPassword = document.getElementById("spanPassword");

        let txtPasswordCheck = document.getElementById("txtPasswordCheck");
        let labelPasswordCheck = document.getElementById("labelPasswordCheck");
        let spanPasswordCheck = document.getElementById("spanPasswordCheck");

        if (txtPassword.value == "") {
            spanPassword.innerHTML = "不能為空";
            labelPassword.style.color = "red";
            spanPassword.style.color = "red";
            txtPassword.style.borderColor = "red";
            flagPassword = false;
        }
        if (isPassword(txtPassword)) {
            spanPassword.innerHTML = "可用";
            labelPassword.style.color = "green";
            spanPassword.style.color = "green";
            txtPassword.style.borderColor = "green";
            flagPassword = true;

        } else {
            spanPassword.innerHTML = "請輸入4~20位大小寫英數字";
            labelPassword.style.color = "red";
            spanPassword.style.color = "red";
            txtPassword.style.borderColor = "red";
            flagPassword = false;
        }
        //驗證確認密碼
        if (txtPassword.value != txtPasswordCheck.value) {
            labelPasswordCheck.style.color = "red";
            txtPasswordCheck.style.borderColor = "red";
            spanPasswordCheck.innerHTML = "與密碼不同";
            flagPassword = false;
        } else {
            labelPasswordCheck.style.color = "green";
            txtPasswordCheck.style.borderColor = "green";
            spanPasswordCheck.innerHTML = "";
            flagPassword = true;
        }

    }//ok
    function isEmail(Email) {
        var isMatch = Email.value.match(/\b(^(\S+@@).+((\.com)|(\.net)|(\.edu)|(\.mil)|(\.gov)|(\.org)|(\..{2,2}))$)\b/)
        if (isMatch) {
            return true;
        } else {
            return false;
        }
    }//ok
    function checkRepeatEmail(Email) {
        $.ajax({
            url: "/Member/checkRepeatEmail?createEmail=" + Email.value,
            type: "Get",
            success: function (flag) {
                let js = JSON.parse(flag);
                console.log(js);
                if (js == "Yes") {
                    spanEmail.innerHTML = "此Email已註冊過,或嘗試<a href='/Member/Login'>登入</a>";
                    labelEmail.style.color = "red";
                    spanEmail.style.color = "red";
                    txtEmail.style.borderColor = "red";
                    flagEmail = false;

                } else {
                    spanEmail.innerHTML = "可用";
                    labelEmail.style.color = "green";
                    spanEmail.style.color = "green";
                    txtEmail.style.borderColor = "green";
                    flagEmail = true;
                }
            }
        });
    }//ok
    function checkEmail() {
        let txtEmail = document.getElementById("txtEmail");
        let labelEmail = document.getElementById("labelEmail");
        let spanEmail = document.getElementById("spanEmail");
        if (txtEmail.value == "") {
            spanEmail.innerHTML = "不能為空";
            labelEmail.style.color = "red";
            spanEmail.style.color = "red";
            txtEmail.style.borderColor = "red";
            flagEmail = false;
        }//如果為空
        
        if (isEmail(txtEmail)) {
            spanEmail.innerHTML = "格式正確";
            labelEmail.style.color = "green";
            spanEmail.style.color = "green";
            txtEmail.style.borderColor = "green";
            checkRepeatEmail(txtEmail);
        } else {
            spanEmail.innerHTML = "請輸入正確Email格式";
            labelEmail.style.color = "red";
            spanEmail.style.color = "red";
            txtEmail.style.borderColor = "red";
            flagEmail = false;
        }//是否為正確Email格式

    }//ok
    function isAddress(Address) {
        for (let i = 0; i < Address.value.length; i++) {
            let ch = Address.value.charAt(i);
            let chCode = Address.value.charCodeAt(i);
            if (!(chCode >= 0x4E00 && chCode <= 0x9FFF)) {
                if (!((ch >= "a" && ch <= "z") || (ch >= "A" && ch <= "Z"))) {
                    if (!((ch >= "(" && ch <= "-") || (ch >= 0 && ch <= 9))) {
                        return false;
                    } else {
                        continue;
                    }
                } else
                    continue
            } else
                continue;
        }
        return true;
    }//ok
    function checkAddress() {
        let txtAddress = document.getElementById("txtAddress");
        let labelAddress = document.getElementById("labelAddress");
        let spanAddress = document.getElementById("spanAddress");

        let selectDistric = document.getElementById("selectDistric");
        let selectCity = document.getElementById("selectCity");

        if (selectDistric.options.selectedIndex == 0) {
            selectCity.style.borderColor = "red";
            selectDistric.style.borderColor = "red";
            flagAddress = false;
        } else {
            selectCity.style.borderColor = "green";
            selectDistric.style.borderColor = "green";
            flagAddress = true;
        }

        if (txtAddress.value == "") {
            spanAddress.innerHTML = "不能為空";
            labelAddress.style.color = "red";
            spanAddress.style.color = "red";
            txtAddress.style.borderColor = "red";
            flagAddress = false;
        }
        if (isAddress(txtAddress)) {
            spanAddress.innerHTML = "";
            labelAddress.style.color = "green";
            spanAddress.style.color = "green";
            txtAddress.style.borderColor = "green";
            flagAddress = true;
        } else {
            spanAddress.innerHTML = "請輸入正確地址格式";
            labelAddress.style.color = "red";
            spanAddress.style.color = "red";
            txtAddress.style.borderColor = "red";
            flagAddress = false;
        }

    }//ok
    function imageShow() {
        var file = document.querySelector("#txtImage").files[0]
        var newfile = new File([file], new Date().getTime() + ".jpg", { type: "image/jpeg" });
        var reader = new FileReader();
        reader.onload = function (oFREvent) {
            document.querySelector("#uploadPreview").src = oFREvent.target.result;
        };
        reader.readAsDataURL(newfile);
        console.log(reader);
    }//ok

    //demo鍵
    function demo() {
        document.getElementById("txtFirstName").value = "Chen";
        document.getElementById("txtLastName").value = "Jerry";
        document.getElementById("txtEmail").value = "YuChen@gmail.com";
        document.getElementById("txtPassword").value = "Password123";
        document.getElementById("txtPasswordCheck").value = "Password123";
        document.getElementById("txtAddress").value = "復興南路資策會";
    }
</script>
