@model LeSheTuanGo.ViewModels.MemberViewModel

@{
    ViewData["Title"] = "Signin";
}
<div style="border:solid 5px #5B5B5B;border-radius:10px 15px;padding:30px 20px;margin:20px auto;width:auto">


    <h1>申請帳號</h1>

    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Signin" onsubmit="checkValue()">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="FirstName" class="control-label" id="labelFirstName"></label>
                    <input asp-for="FirstName" class="form-control" id="txtFirstName" />
                    <span asp-validation-for="FirstName" class="text-danger" id="spanFirstName"></span>
                </div><!--FirstName-->
                <div class="form-group">
                    <label asp-for="LastName" class="control-label" id="labelLastName"></label>
                    <input asp-for="LastName" class="form-control" id="txtLastName" />
                    <span asp-validation-for="LastName" class="text-danger" id="spanLastName"></span>
                </div><!--LastName-->
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" id="txtEmail" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div><!--Email-->
                <div class="form-group">
                    <label asp-for="Password" class="control-label" id="labelPassword"></label>
                    <input asp-for="Password" class="form-control" id="txtPassword" />
                    <span asp-validation-for="Password"  id="spanPassword" ></span>
                    <br />
                    <div>
                        <label class="control-label" id="labelPasswordCheck">確認密碼</label>
                        <input type="text" class="form-control" id="txtPasswordCheck" />
                        <span asp-validation-for="Password" class="text-danger" id="spanPasswordCheck"></span>
                    </div>
                </div><!--Password-->
                <div class="form-group">
                    <label asp-for="Address" class="control-label"></label>
                    <input asp-for="Address" class="form-control" id="txtAddress" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div><!--Address-->
                <div class="form-group">
                    <input type="submit" value="送出" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>
<div>
    <a asp-action="Index" asp-controller="Home">回到首頁</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    document.getElementById("txtFirstName").onblur = checkValue;
    function checkValue() {
        checkName();
        checkPassword();
        isPassword();
    }

    function checkName() {
        let txtFirstName = document.getElementById("txtFirstName");
        let txtLastName = document.getElementById("txtLastName");
        let labelFirstName = document.getElementById("labelFirstName");
        let labelLastName = document.getElementById("labelLastName");
        let spanFirstName = document.getElementById("spanFirstName");
        let spanLastName = document.getElementById("spanLastName");
        if (txtFirstName.value.length == 0) {
            labelFirstName.style.color = "red";
            txtFirstName.style.borderColor = "red";
            spanFirstName.style.color = "red";
            spanFirstName.innerHTML = "不能為空"
        } else {
            labelFirstName.style.color = "green";
            txtFirstName.style.borderColor = "green";
            spanFirstName.style.color = "green";
            spanFirstName.innerHTML = ""
        }

        if (txtLastName.value.length == 0) {
            labelLastName.style.color = "red";
            txtLastName.style.borderColor = "red";
            spanLastName.style.color = "red";
            spanLastName.innerHTML = "不能為空"
        } else {
            labelLastName.style.color = "green";
            txtLastName.style.borderColor = "green";
            spanLastName.style.color = "green";
            spanLastName.innerHTML = ""
        }
    }//ok
    function isPassword(pwd) {

        var isMatch = pwd.value.match(/^.*(?=.{4,20})(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?!.*[^\x21-\x7e]).*$/)
        if (isMatch) {
            return true;
        } else {
            return false;
        }
    }
    function checkPassword() {

        let txtPassword = document.getElementById("txtPassword");
        let txtPasswordLen = txtPassword.value.length;
        let labelPassword = document.getElementById("labelPassword");
        let spanPassword = document.getElementById("spanPassword");

        let txtPasswordCheck = document.getElementById("txtPasswordCheck");
        let labelPasswordCheck = document.getElementById("labelPasswordCheck");
        let spanPasswordCheck = document.getElementById("spanPasswordCheck");
        if (isPassword(txtPassword)) {
            spanPassword.innerHTML = "可用"
            labelPassword.style.color = "green";
            spanPassword.style.color = "green";
            txtPassword.style.borderColor = "green";
        } else {
                spanPassword.innerHTML = "請輸入4~20位英數字字元"
                labelPassword.style.color = "red";
                spanPassword.style.color = "red";
                txtPassword.style.borderColor = "red";
                return;
        }
        //土炮 備份用
        //var flag1 = false, flag2 = false;
        //if (txtPasswordLen == 0) {
        //    spanPassword.innerHTML = "不能為空"
        //    labelPassword.style.color = "red";
        //    spanPassword.style.color = "red";
        //    txtPassword.style.borderColor = "red";
        //    return;
        //} else if (txtPasswordLen < 6) {
        //    spanPassword.innerHTML = "必須六個字以上"
        //    spanPassword.style.color = "red";
        //    labelPassword.style.color = "red";
        //    txtPassword.style.borderColor = "red";
        //    return;
        //} else if (txtPasswordLen > 20) {
        //    spanPassword.innerHTML = "密碼介在6~20字之間"
        //    labelPassword.style.color = "red";
        //    spanPassword.style.color = "red";
        //    txtPassword.style.borderColor = "red";
        //    return;
        //}
        //for (let i = 0; i < txtPasswordLen; i++) {
        //    let ch = txtPassword.value.charAt(i).toUpperCase();
        //    if (ch >= "A" && ch <= "Z") {
        //        flag1 = true;
        //    } else if (ch >= "0" && ch <= "9") {
        //        flag2 = true;
        //    } else {
        //        spanPassword.innerHTML = "請輸入英文與數字的合法字元"
        //        labelPassword.style.color = "red";
        //        spanPassword.style.color = "red";
        //        txtPassword.style.borderColor = "red";
        //        return;
        //    }
        //}
        //if (flag1 & flag2) {
        //    spanPassword.innerHTML = ""
        //    labelPassword.style.color = "green";
        //    spanPassword.style.color = "green";
        //    txtPassword.style.borderColor = "green";
        //} else {
        //    spanPassword.innerHTML = "請輸入英文與數字的合法字元"
        //    labelPassword.style.color = "red";
        //    spanPassword.style.color = "red";
        //    txtPassword.style.borderColor = "red";
        //    return;
        //}

        //驗證確認密碼
        if (txtPassword.value != txtPasswordCheck.value) {
            labelPasswordCheck.style.color = "red";
            txtPasswordCheck.style.borderColor = "red";
            spanPasswordCheck.innerHTML = "與密碼不同";
            return;
        } else {
            labelPasswordCheck.style.color = "green";
            txtPasswordCheck.style.borderColor = "green";
            spanPasswordCheck.innerHTML = "";
            return;
        }

    }//ok
</script>
