@model LeSheTuanGo.ViewModels.MemberViewModel
@{
    ViewData["Title"] = "變更密碼 - ";
}
<div class="row align-items-center h-75">
    <div class="col-4 offset-4 rounded-panel pt-2">
        <h1 style="text-align: center" onclick="demo()">變更密碼</h1>
        <hr />
        <form asp-action="EditPassword" id="form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MemberId" />
            <div class="form-group">
                <label class="control-label" id="labelPasswordOld">舊密碼</label>
                <input type="password" class="form-control" id="txtPasswordOld" onblur="samePassword()" />
                <span asp-validation-for="Password" style="color:red" id="spanPasswordOld"></span>
            </div>
            <div class="form-group">
                <label class="control-label" id="labelPassword">新密碼</label>
                <input asp-for="Password" type="password" class="form-control" id="txtPassword" />
                <span asp-validation-for="Password" style="color:red" id="spanPassword"></span>
            </div>
            <div class="form-group">
                <label class="control-label" id="labelPasswordCheck">確認新密碼</label>
                <input type="password" class="form-control" id="txtPasswordCheck" onblur="checkPassword()" />
                <span style="color:red" id="spanPasswordCheck"></span>
            </div>
            <div class="form-group">
                <input type="button" value="送出" class="btn btn-primary w-100" onclick="checkPassword()" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        let txtPasswordOld = document.getElementById("txtPasswordOld");
        let labelPasswordOld = document.getElementById("labelPasswordOld");
        let spanPasswordOld = document.getElementById("spanPasswordOld");

        let txtPassword = document.getElementById("txtPassword");
        let labelPassword = document.getElementById("labelPassword");
        let spanPassword = document.getElementById("spanPassword");

        let txtPasswordCheck = document.getElementById("txtPasswordCheck");
        let labelPasswordCheck = document.getElementById("labelPasswordCheck");
        let spanPasswordCheck = document.getElementById("spanPasswordCheck");
        var flagSamePassword = false;

        function isPassword(pwd) {
            var isMatch = pwd.value.match(/^.*(?=.{4,20})(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?!.*[^\x21-\x7e]).*$/)
            if (isMatch) {
                return true;
            } else {
                return false;
            }
        }//ok
        function checkPassword() {
            if (!flagSamePassword)
                return false;
            if (txtPassword.value == "") {
                spanPassword.innerHTML = "不能為空";
                labelPassword.style.color = "red";
                spanPassword.style.color = "red";
                txtPassword.style.borderColor = "red";
                return false;
            }
            if (isPassword(txtPassword)) {
                spanPassword.innerHTML = "可用";
                labelPassword.style.color = "green";
                spanPassword.style.color = "green";
                txtPassword.style.borderColor = "green";
            } else {
                spanPassword.innerHTML = "請輸入4~20位大小寫英數字";
                labelPassword.style.color = "red";
                spanPassword.style.color = "red";
                txtPassword.style.borderColor = "red";
                return false;
            }
            //驗證確認密碼
            if (txtPassword.value != txtPasswordCheck.value) {
                labelPasswordCheck.style.color = "red";
                txtPasswordCheck.style.borderColor = "red";
                spanPasswordCheck.innerHTML = "與密碼不同";
                return false;

            } else {
                labelPasswordCheck.style.color = "green";
                txtPasswordCheck.style.borderColor = "green";
                spanPasswordCheck.innerHTML = "";
                document.getElementById("form").submit();
            }

        }//ok

        function samePassword() {
            let Password = document.getElementById("txtPasswordOld");
            $.ajax({
                url: "/Member/samePassword?inputPassword=" + Password.value,
                type: "Get",
                success: function (returnMessage) {
                    let js = JSON.parse(returnMessage);
                    console.log(js);
                    if (js == "incorrcet") {
                        spanPasswordOld.innerHTML = "密碼錯誤";
                        labelPasswordOld.style.color = "red";
                        spanPasswordOld.style.color = "red";
                        txtPasswordOld.style.borderColor = "red";
                        flagSamePassword = false;
                    } else if (js == "correct") {
                        spanPasswordOld.innerHTML = "";
                        labelPasswordOld.style.color = "green";
                        spanPasswordOld.style.color = "green";
                        txtPasswordOld.style.borderColor = "green";
                        flagSamePassword = true;
                    }
                }
            })
        }
        function demo() {
            document.getElementById('txtPassword').value = 'Asd0000';
            document.getElementById('txtPasswordCheck').value = 'Asd0000';
        }
    </script>

}
