@model LeSheTuanGo.ViewModels.MemberViewModel
@{
    ViewData["Title"] = "變更地址 - ";
}
<div class="row align-items-center h-75">
    <div class="col-4 offset-4 rounded-panel pt-2">
        <h1 style="text-align: center">變更地址</h1>
        <hr />
        <form asp-action="EditAddress" id="form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MemberId" />
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label id="labelCity">縣市</label>
                        <select class="form-control" id="selectCity" onchange="getDistrict('#selectDistric')" asp-items="ViewBag.City">
                            <option hidden id="optionCity">請選擇</option>
                        </select>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label id="labelDistrict">鄉鎮市區</label>
                        <select id="selectDistric" asp-for="DistrictId" class="form-control">
                            <option hidden id="optionCity">請選擇</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Address" id="labelAddress">街道</label>
                <input asp-for="Address" value="" class="form-control" id="txtAddress" onblur="isNull()" />
                <span asp-validation-for="Address" style="color:red" id="spanAddress"></span>
            </div><!--Address-->
            <div class="form-group">
                <input type="button" value="送出" class="btn btn-primary w-100" onclick="checkAddress()" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
    let txtAddress = document.getElementById("txtAddress");
    let labelAddress = document.getElementById("labelAddress");
    let spanAddress = document.getElementById("spanAddress");

    let labelCity = document.getElementById("labelCity");
    let labelDistrict = document.getElementById("labelDistrict");
    let selectDistric = document.getElementById("selectDistric");
    let selectCity = document.getElementById("selectCity");
    function isAddress(Address) {
        for (let i = 0; i < Address.value.length; i++) {
            let ch = Address.value.charAt(i);
            let chCode = Address.value.charCodeAt(i);
            if (!(chCode >= 0x4E00 && chCode <= 0x9FFF)) {
                if (!((ch >= "a" && ch <= "z") || (ch >= "A" && ch <= "Z"))) {
                    if (!((ch >= "(" && ch <= "-") || (ch >= 0 && ch <= 9))) {
                        return false;
                    } else {
                        continue;
                    }
                } else
                    continue
            } else
                continue;
        }
        return true;
    }//ok
    function checkAddress() {
        if (selectCity.options.selectedIndex == 0) {
            labelCity.style.color = "red";
            labelDistrict.style.color = "red";
            selectCity.style.borderColor = "red";
            selectDistric.style.borderColor = "red";
            return
        } else {
            labelCity.style.color = "green";
            labelDistrict.style.color = "green";
            selectCity.style.borderColor = "green";
            selectDistric.style.borderColor = "green";
        }
        if (txtAddress.value == "") {
            spanAddress.innerHTML = "不能為空";
            labelAddress.style.color = "red";
            spanAddress.style.color = "red";
            txtAddress.style.borderColor = "red";
            return;
        }
        if (isAddress(txtAddress)) {
            spanAddress.innerHTML = "";
            labelAddress.style.color = "green";
            spanAddress.style.color = "green";
            txtAddress.style.borderColor = "green";
            document.getElementById("form").submit();

        } else {
            spanAddress.innerHTML = "請輸入正確地址格式";
            labelAddress.style.color = "red";
            spanAddress.style.color = "red";
            txtAddress.style.borderColor = "red";
        }

    }//ok
    function isNull() {
        if (txtAddress.value == "") {
            spanAddress.innerHTML = "不能為空";
            labelAddress.style.color = "red";
            spanAddress.style.color = "red";
            txtAddress.style.borderColor = "red";
            return false;
        }
    }
</script>
}
