@model LeSheTuanGo.ViewModels.MemberViewModel

<div style="border:hidden 5px black; margin:0px 200px; ">
    <h1 style="text-align: center">變更照片</h1>
    <div class="col-md-6 col-md-offset-3" style="margin:0 auto">
    <hr />
        <form asp-action="EditImage" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MemberId" />
            <div class="form-group">
                <input type="file" asp-for="image" id="txtImage" accept=".png, .jpg, .jpeg" onchange="imageShow()" />
                <span asp-validation-for="image" style="color:red" id="spanImage"></span>
            </div><!--image-->
            <img src="@Model.ProfileImagePath" width="300" id="uploadPreview" />
            <br />
            <div class="form-group">
                <input type="submit" value="送出" class="btn btn-primary" style="width:25%"/>
            </div>


        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script type="text/javascript">
    function imageShow() {
        var file = document.querySelector("#txtImage").files[0]
        var newfile = new File([file], new Date().getTime() + ".jpg", { type: "image/jpeg" });
        var reader = new FileReader();
        reader.onload = function (oFREvent) {
            document.querySelector("#uploadPreview").src = oFREvent.target.result;
        };
        reader.readAsDataURL(newfile);
        console.log(reader);
    }
</script>
