@model LeSheTuanGo.Models.Member
@{
    ViewData["Title"] = "忘記密碼 - ";
}
<div class="row align-items-center h-75">
    <div class="col-4 offset-4 rounded-panel pt-2">
        <h4>請輸入註冊信箱</h4>
        <hr />
        <form asp-action="forgetPassword" id="form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MemberId" />
            <div class="form-group">
                <label class="control-label" id="labelEmail">註冊信箱</label>
                <input asp-for="Email" class="form-control" id="txtEmail" />
                <span asp-validation-for="Email" class="text-danger" id="spanEmail"></span>
            </div>
            <div class="form-group">
                <input type="button" value="送出" class="btn btn-primary" onclick="check()" />
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script>
    let labelEmail = document.getElementById("labelEmail");
    let txtEmail = document.getElementById("txtEmail");
    let spanEmail = document.getElementById("spanEmail");
    let from = document.getElementById("form");
    function check() {
        checkRepeatEmail(txtEmail);
    }
    function checkRepeatEmail(Email) {
        $.ajax({
            url: "/Member/checkRepeatEmail?createEmail=" + Email.value,
            type: "Get",
            success: function (flag) {
                let js = JSON.parse(flag);
                console.log(js);
                if (js == "Yes") {
                    alert("已寄出驗證信");
                    from.submit();
                } else {
                    spanEmail.innerHTML = "無效的Email";
                    labelEmail.style.color = "red";
                    spanEmail.style.color = "red";
                    txtEmail.style.borderColor = "red";
                }
            }
        });
    }//ok
</script>
