@model LeSheTuanGo.Models.Member

<div style="border:hidden 5px black; margin:0px 200px; ">
    <h1 style="text-align: center">重設密碼</h1>
    <hr />
    <div class="col-md-6 col-md-offset-3" style="margin:0 auto">
        <form asp-action="resetPassword" id="form" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MemberId" />
            <div class="form-group" >
                <label class="control-label" id="labelPassword">新密碼</label>
                <input asp-for="Password" value=" " type="text" class="form-control" id="txtPassword" />
                <span asp-validation-for="Password" style="color:red" id="spanPassword"></span>
                <br />
                <div>
                    <label class="control-label" id="labelPasswordCheck">確認密碼</label>
                    <input type="text" class="form-control" id="txtPasswordCheck" onblur="checkPassword()" />
                    <span style="color:red" id="spanPasswordCheck"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="button" value="送出" class="btn btn-primary" onclick="check()" style="width:25%"/>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script>
    let form = document.getElementById("form");

    let txtPassword = document.getElementById("txtPassword");
    let labelPassword = document.getElementById("labelPassword");
    let spanPassword = document.getElementById("spanPassword");

    let txtPasswordCheck = document.getElementById("txtPasswordCheck");
    let labelPasswordCheck = document.getElementById("labelPasswordCheck");
    let spanPasswordCheck = document.getElementById("spanPasswordCheck");
    var flagSamePassword = false;

    function isPassword(pwd) {
        var isMatch = pwd.value.match(/^.*(?=.{4,20})(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?!.*[^\x21-\x7e]).*$/)
        if (isMatch) {
            return true;
        } else {
            return false;
        }
    }//ok
    function checkPassword() {
        if (txtPassword.value == "") {
            spanPassword.innerHTML = "不能為空";
            labelPassword.style.color = "red";
            spanPassword.style.color = "red";
            txtPassword.style.borderColor = "red";
            return false;
        }
        if (isPassword(txtPassword)) {
            spanPassword.innerHTML = "可用";
            labelPassword.style.color = "green";
            spanPassword.style.color = "green";
            txtPassword.style.borderColor = "green";
        } else {
            spanPassword.innerHTML = "請輸入4~20位大小寫英數字";
            labelPassword.style.color = "red";
            spanPassword.style.color = "red";
            txtPassword.style.borderColor = "red";
            return false;
        }
        //驗證確認密碼
        if (txtPassword.value != txtPasswordCheck.value) {
            labelPasswordCheck.style.color = "red";
            txtPasswordCheck.style.borderColor = "red";
            spanPasswordCheck.innerHTML = "與密碼不同";
            return false;

        } else {
            labelPasswordCheck.style.color = "green";
            txtPasswordCheck.style.borderColor = "green";
            spanPasswordCheck.innerHTML = "";
            form.submit();
        }
    }//ok

    function demo() {
        document.getElementById('txtPassword').value = 'Asd0000';
        document.getElementById('txtPasswordCheck').value = 'Asd0000';
    }

</script>