@{
    ViewData["Title"] = "";
    ViewData["bgImage"] = "/images/Others/wallpaperflare.jpg";
}
<div class="row align-items-center vh-80">
    <div class="col-6 offset-6">
        <div class="banner_content">
            <h3>樂活社區，全民動起來。</h3>
            <h5>短距離的社區型態團購與倒垃圾機制，可加入或新增自己專屬的天地。</h5>
            <br />
            <h3>樂圾地圖</h3>
            <p>
                讓您方便快速查詢垃圾車地點的好地方
            </p>
            <br />
            <h3>團購</h3>
            <p>
                沒有空閒時間?
                缺乏生活用品?
                快來開團請夥伴幫忙買吧!
            </p>
            <br />
            <h3>倒垃圾服務</h3>
            <p>
                閒著沒事又想貢獻社會公益嗎?
                快來開團滿足您的慾望
            </p>
            <a class="btn btn-secondary" href="/Member/Create">Begin Free Trial</a>
        </div>
    </div>
</div>

@section Scripts {
}