@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row align-items-center vh-80">
        <div class="col-6 offset-6">
            <div class="banner_content">
                <h3>樂活社區，全民動起來。</h3>                
                <h5>短距離的社區型態團購與倒垃圾機制，可加入或新增自己專屬的天地。</h5>
                <a class="btn btn-secondary" href="#">Begin Free Trial<i class="ti-arrow-right"></i></a>
            </div>
        </div>

    </div>
</div>
