@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row align-items-center vh-80">
        <div class="col-6 offset-6">
            <div class="banner_content">
                <h3>Build a better<br />business & faster</h3>
                <p>Subdue creature does face signs evening good sixth foreign gaered one. Fruit. Third every fruitful multiply subdue creature doesn't face signs evening good sixth tyou're.</p>
                <a class="btn btn-secondary" href="#">Begin Free Trial<i class="ti-arrow-right"></i></a>
            </div>
        </div>

    </div>
</div>
