
@{
    ViewData["Title"] = "參與團購";
}

<div class="w-75 px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">參與團購</h1>
    <p class="lead mt-2">你可以搜尋並加入現有的團購，或是自己擔任團購召集人，創立新的購物團</p>
</div>

<div class="row h-75">
    <div class="text-center w-50 h-100">
        <a asp-area="" asp-controller="NewGroupOrder" asp-action="Index">
            <h2>開新團購</h2>
        </a>
    </div>
    <div class="text-center w-50 h-100">
        <a asp-area="" asp-controller="Buy" asp-action="Index">
            <h2>加入現有團購</h2>
        </a>
    </div>
</div>


