
@{
    ViewData["Title"] = "OrderNavi";
}

<h1>OrderNavi</h1>
<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">開新團購</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">加入現有團購</a>

