
@{
    ViewData["Title"] = "參與團購";
}
<div class="text-center">
    <h1 class="display-4">參與團購</h1>
    <p class="lead mt-2">短距離的社區型態團購，可加入或新增自己專屬的團購天地   </p>
</div>

<div class="row justify-content-center">
    <div class="col-6 col-lg-5">
        <div class="text-center rounded bg-white">
            <a class="nav-link text-dark" asp-area="" asp-controller="NewGroupOrder" asp-action="Index">
                <h2 >開新團購</h2>
            </a>
            <p>
                沒有空閒時間?
                缺乏生活用品?
                快來開團請夥伴幫忙買吧~
            </p>
        </div>
    </div>
    <div class="col-6 col-lg-5">
        <div class="text-center rounded bg-white">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">
                <h2>加入現有團購</h2>
            </a>
            <p>
                說心動不如馬上行動
                加入團購
                讓你馬上豐衣足食的好地方
            </p>
        </div>
    </div>
</div>


