
@{
    ViewData["Title"] = "ServiceNavi";
}

<h1>ServiceNavi</h1>
<a class="nav-link text-dark" asp-area="" asp-controller="GarbageServiceOffers" asp-action="Index">幫人倒垃圾</a>
<a class="nav-link text-dark" asp-area="" asp-controller="GarbageServiceUseRecords" asp-action="Index">請人倒垃圾</a>
