@using Microsoft.AspNetCore.Http;
@using LeSheTuanGo.Controllers;
@{
    Layout = "_layoutWide";
    ViewData["Title"] = "搜個集點 - ";
    if (Context.Session.GetInt32(cUtility.Current_User_Id) != null) {
        ViewData["currentUserId"] = Context.Session.GetInt32(cUtility.Current_User_Id);
    } else {
        ViewData["currentUserId"] = 0;
    }
}
<div class="d-flex h-100">
    <div class="w-50 h-100 bg-go-light">
        <div class="h-100 w-100">
            <div class="d-flex">
                <div style="width:20%">
                    <div class="d-flex flex-wrap">
                        <div class="w-100 p-1">
                            <button class="btn btn-primary w-100" id="find-me" onclick="geoFindMe()">取得位置</button>
                        </div>
                        <div class="w-100 p-1">
                            <div class="btn w-100" id="status"></div>
                        </div>
                        <div hidden>
                            <a id="map-link" href="" target="_blank"></a>  @*target=_blank will open a new tab*@
                        </div>
                    </div>
                </div>
                <div style="width:80%">
                    <div class="d-flex p-1" style="align-items:center">
                        <div style="width:10%" class="text-right" onclick="(() => {document.getElementById('txtAddress').value='復興南路一段390號' })()">
                            搜尋：
                        </div>
                        <div style="width:15%" class="px-1">
                            <select class="form-control" id="selectCity" onchange="getDistrict('#selectDistric')" asp-items="ViewBag.CityId">
                                <option hidden id="optionCity">請選擇</option>
                            </select>
                        </div>
                        <div style="width:15%" class="px-1">
                            <select class="form-control" id="selectDistric">
                                <option hidden id="optionCity">請選擇</option>
                            </select>
                        </div>
                        <div style="width:45%" class="px-1">
                            <input class="form-control" id="txtAddress" />
                        </div>
                        <div style="width:15%" class="px-1">
                            <button class="btn btn-primary w-100" onclick="captureSelect()">搜尋</button>
                        </div>
                    </div>
                    <div class="d-flex p-1" style="align-items:center">
                        <div style="width:10%" class="text-right">
                            過濾：
                        </div>
                        <div style="width:15%" class="px-1">
                            <select class="form-control" id="rangeLevel" onchange="">
                                <option hidden>請選擇</option>
                                <option>300</option>
                                <option>200</option>
                                <option>100</option>
                            </select>
                        </div>
                        <div style="width:10%" class="px-1 text-center">
                            公尺內
                        </div>
                        <div style="width:15%" class="px-1">
                            <select class="form-control" id="selectTimeStart" onchange="">
                                <option hidden>請選擇</option>
                                @for (int i = 0; i < 24; i++) {
                                    <option>@i</option>
                                }
                            </select>
                        </div>
                        <div style="width:10%" class="px-1 text-center">
                            時起
                        </div>
                        <div style="width:15%" class="px-1">
                            <select class="form-control" id="selectTimeEnd" onchange="">
                                <option hidden>請選擇</option>
                                @for (int i = 0; i < 24; i++) {
                                    <option>@i</option>
                                }
                            </select>
                        </div>
                        <div style="width:10%" class="px-1 text-center">
                            時迄
                        </div>
                        <div style="width:15%" class="px-1">
                            <button class="btn btn-primary w-100" onclick="filter()">篩選</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex" style="align-items:center">
                <div class="p-1">
                    <button class="btn btn-primary" onclick="(() => {
        if (currentUser == 0) {
            console.log(this);
            console.log(event);
            alert('請先登入！');
        } else {
            initFav();
            console.log('initFav');
            document.getElementById('lblSource').innerText = '您的收藏清單，';
        }
        })()">
                        收藏清單（會員專屬）
                    </button>
                </div>
                <div class="p-1">查詢位置：</div>
                <div class="p-1" id="lblSource"></div><b id="bCount"></b>
            </div>
            <div id="leftSearch" class="column-main w-100" style="height:82vh">
                <button onclick="topFunction()" class="map-btn" id="myBtn" title="Go to top">Top</button>
                <table class="table" id="table100m">
                    <thead id="header">
                        <tr>
                            <th id="thFav0">收藏</th>
                            <th>收集地點</th>
                            <th onclick="orderByTime()" id="thOrderTime">到達時間☰</th>
                            <th onclick="orderByDistance()" id="thOrderDistance">距離（公尺）☰</th>
                        </tr>
                    </thead>
                    <tbody id="content"></tbody>
                </table>
            </div>

        </div>
    </div>
    <div class="w-50 pl-0">
        <div id="map" class="w-100 h-100"></div>
    </div>
</div>




@section Scripts {
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBircB99P_RvzxWdQT-hk40-h3Ofzlb_vQ&callback=initMap&libraries=&v=weekly" async></script>
    <script>
        let map;

        let table100m = document.getElementById("table100m");
        let tbodycont = document.getElementById("content");

        var currentUser = @ViewData["currentUserId"];
        var latNow = 0;
        var lngNow = 0;
        var js;
        var js0;  //store material from backend
        var userFav;
        var userFav0;

        window.onload = (() => {
            if (currentUser == 0) {
                geoFindMe();
                console.log('geoFindMe()');
            } else {
                getSpotNum(currentUser);
                init300M('', 'mem');
                console.log('init300M(, mem)');
                document.getElementById('lblSource').innerText = '您的註冊地址，';
            }
        })();

        var timeOrder = -1;
        var distanceOrder = -1;

        function getSpotNum(currentUser) {
        $.ajax({
            url: "/map/spotCollectedNum?mem=" + currentUser,
            type: "GET",
            async: false,
            success: function (spotJsonString) {
                console.log(this.url);
                userFav = JSON.parse(spotJsonString);
                //userFav = userFav0;
                console.log(userFav);
            }
        })
    }
        function initMap(lat, lng, add, spotId) {

        if (lng !== "l") {
            var coor = new google.maps.LatLng(lat, lng);
            var mbr = new google.maps.LatLng(latNow, lngNow);  //fixed for now

            map = new google.maps.Map(document.getElementById("map"), {
                center: coor,
                zoom: 19,
            });

            new google.maps.Marker({
                position: mbr,
                map,
                title: "YOU",
                icon: "https://crd-rubbish.epd.ntpc.gov.tw/maps/images/icon/Icon_LegendD.png",
            });

            let marker = new google.maps.Marker({
                position: coor,
                map,
                animation: google.maps.Animation.DROP,
                title: add,
                label: { text: spotId + "", color: "transparent" },
                zIndex: 999999999,
                icon: "https://crd-rubbish.epd.ntpc.gov.tw/maps/images/icon/Icon_LegendC.png",
            });

            marker.addListener("click", () => {
                console.log(marker.title);
                console.log(marker.label.text);
                document.getElementById(marker.label.text).scrollIntoView({ behavior: "smooth", block: "center" });
                $(`#${marker.label.text}`).css("background-color", "gray").css("transition-duration", "2s");
                setTimeout(() => { $(`#${marker.label.text}`).css("background-color", "transparent").css("transition-duration", "2s"); }, 2000);
            });
        }
        else {
            var mbr = new google.maps.LatLng(latNow, lngNow);

            map = new google.maps.Map(document.getElementById("map"), {
                center: mbr,
                zoom: 16,
            });

            new google.maps.Marker({
                position: mbr,
                map,
                title: "YOU",
                icon: "https://crd-rubbish.epd.ntpc.gov.tw/maps/images/icon/Icon_LegendD.png",
            });

            var markers = [];
            for (let i = 0; i < lat.length; i++) {
                let marker = new google.maps.Marker({
                    position: { lat: lat[i]["Latitude"], lng: lat[i]["Longitude"] },
                    map,
                    animation: google.maps.Animation.DROP,
                    title: lat[i]["Address"],
                    label: { text: lat[i]["GarbageTruckSpotId"] + "", color: "transparent" },
                    zIndex: 999999999,
                    icon: "https://crd-rubbish.epd.ntpc.gov.tw/maps/images/icon/Icon_LegendC.png",
                });
                markers.push(marker);
                markers[i].addListener("click", () => {
                    console.log(markers[i].title);
                    console.log(markers[i].label.text);
                    document.getElementById(markers[i].label.text).scrollIntoView({ behavior: "smooth", block: "center" });
                    $(`#${markers[i].label.text}`).css("background-color", "gray").css("transition-duration", "2s");
                    setTimeout(() => { $(`#${markers[i].label.text}`).css("background-color", "transparent").css("transition-duration", "2s"); }, 2000);
                });
            }
        }
    }
        function init300M(address, source) {
            $.ajax({
                url: "/map/spotlessthan300m2?address=" + address + "&lat=" + latNow + "&lng=" + lngNow + "&memId=" + currentUser + "&type=" + source,
                type: "GET",
                success: function (listJsonString) {
                    console.log(this.url);
                    js0 = JSON.parse(listJsonString);
                    js = js0;
                    let tbodycont = document.getElementById("content");
                    tbodycont.innerHTML = "";
                    latNow = js[0]["addLat"];
                    lngNow = js[0]["addLng"];
                    initMap(js, "l");
                    if (currentUser == 0) {
                        $('#thFav0').remove();
                        for (let i = 0; i < js.length; i++) {
                            tbodycont.innerHTML +=
                                '<tr id="' + js[i]["GarbageTruckSpotId"] + '" onclick="initMap(' + js[i]["Latitude"] + ',' + js[i]["Longitude"] + ',' + '\'' + js[i]["Address"] + '\'' + ',' + js[i]["GarbageTruckSpotId"] + ')">'
                                + '<td>' + js[i]["Address"] + '</td>'
                                + '<td>' + js[i]["ArrivalTime"] + '</td>'
                                + '<td>' + js[i]["distance"] + '</td>'
                                + '</tr>';
                        }
                    }
                    else {
                        getSpotNum(currentUser);
                        for (let i = 0; i < js.length; i++) {
                            tbodycont.innerHTML +=
                                '<tr id="' + js[i]["GarbageTruckSpotId"] + '">'
                                + '<td id="tdFav' + js[i]["GarbageTruckSpotId"] + '"><label onclick="addFav()">♥️</label></td>'
                                + '<td onclick="initMap(' + js[i]["Latitude"] + ',' + js[i]["Longitude"] + ',' + '\'' + js[i]["Address"] + '\'' + ',' + js[i]["GarbageTruckSpotId"] + ')">' + js[i]["Address"] + '</td>'
                                + '<td onclick="initMap(' + js[i]["Latitude"] + ',' + js[i]["Longitude"] + ',' + '\'' + js[i]["Address"] + '\'' + ',' + js[i]["GarbageTruckSpotId"] + ')">' + js[i]["ArrivalTime"] + '</td>'
                                + '<td onclick="initMap(' + js[i]["Latitude"] + ',' + js[i]["Longitude"] + ',' + '\'' + js[i]["Address"] + '\'' + ',' + js[i]["GarbageTruckSpotId"] + ')">' + js[i]["distance"] + '</td>'
                                + '</tr>';
                        }
                        if (userFav.length) {
                            for (let i = 0; i < userFav.length; i++) {
                                if (document.getElementById(`tdFav${userFav[i]}`)) {
                                    console.log(376);
                                    document.getElementById(`tdFav${userFav[i]}`).innerHTML = '';
                                }
                            }
                        }
                        document.getElementById("thFav0").innerText = "收藏";
                    }
                    setTimeout(() => { document.getElementById('bCount').innerText = `共 ${js.length} 個收集點`; }, 500);
                }
            })
            document.getElementById("thOrderTime").innerText = "到達時間☰";
            document.getElementById("thOrderDistance").innerText = "距離（公尺）☰";
        }

        function initFav() {
            $.ajax({
                url: "/map/spotCollected?mem=" + currentUser,
                type: "GET",
                success: function (listJsonString) {
                    console.log(this.url);
                    js0 = JSON.parse(listJsonString);
                    js = js0;
                    let tbodycont = document.getElementById("content");
                    tbodycont.innerHTML = "";
                    if (typeof js[0]=='object') {
                        latNow = js[0]["addLat"];
                        lngNow = js[0]["addLng"];
                    } else {
                        latNow = 25;
                        lngNow = 121;
                    }
                    initMap(js, "l");
                    if (currentUser == 0) {
                        $('#thFav0').remove();
                        for (let i = 0; i < js.length; i++) {
                            tbodycont.innerHTML +=
                                '<tr id="' + js[i]["GarbageTruckSpotId"] + '" onclick="initMap(' + js[i]["Latitude"] + ',' + js[i]["Longitude"] + ',' + '\'' + js[i]["Address"] + '\'' + ',' + js[i]["GarbageTruckSpotId"] + ')">'
                                + '<td>' + js[i]["Address"] + '</td>'
                                + '<td>' + js[i]["ArrivalTime"] + '</td>'
                                + '<td>' + js[i]["distance"] + '</td>'
                                + '</tr>';
                        }
                    }
                    else {
                        getSpotNum(currentUser);
                        for (let i = 0; i < js.length; i++) {
                            tbodycont.innerHTML +=
                                '<tr id="' + js[i]["GarbageTruckSpotId"] + '">'
                                + '<td id="tdFav' + js[i]["GarbageTruckSpotId"] + '"><label onclick="removeFav()">♡</label></td>'
                                + '<td onclick="initMap(' + js[i]["Latitude"] + ',' + js[i]["Longitude"] + ',' + '\'' + js[i]["Address"] + '\'' + ',' + js[i]["GarbageTruckSpotId"] + ')">' + js[i]["Address"] + '</td>'
                                + '<td onclick="initMap(' + js[i]["Latitude"] + ',' + js[i]["Longitude"] + ',' + '\'' + js[i]["Address"] + '\'' + ',' + js[i]["GarbageTruckSpotId"] + ')">' + js[i]["ArrivalTime"] + '</td>'
                                + '<td onclick="initMap(' + js[i]["Latitude"] + ',' + js[i]["Longitude"] + ',' + '\'' + js[i]["Address"] + '\'' + ',' + js[i]["GarbageTruckSpotId"] + ')">' + js[i]["distance"] + '</td>'
                                + '</tr>';
                        }
                    }
                }
            })
            document.getElementById("thOrderTime").innerText = "到達時間☰";
            document.getElementById("thOrderDistance").innerText = "距離（公尺）☰";
            document.getElementById("thFav0").innerText = "移除";
            setTimeout(() => { document.getElementById('bCount').innerText = `共 ${js.length} 個收集點`; }, 500);
        }

        function clearContent() {
            document.getElementById("content").remove();
            console.log(js);
            //todo: test if global-var content still available after refresh/F5
        }

        function orderByTime() {
            document.getElementById("content").remove();
            var ele = document.createElement("tbody");
            ele.id = "content";
            js.sort(function (a, b) {
                return a.ArrivalTime < b.ArrivalTime ? timeOrder : -1 * timeOrder;
            });
            if (currentUser == 0) {
                $('#thFav0').remove();
                for (let i = 0; i < js.length; i++) {
                    ele.innerHTML +=
                        '<tr id="' + js[i]["GarbageTruckSpotId"] + '" onclick="initMap(' + js[i]["Latitude"] + ',' + js[i]["Longitude"] + ',' + '\'' + js[i]["Address"] + '\'' + ',' + js[i]["GarbageTruckSpotId"] + ')">'
                        + '<td>' + js[i]["Address"] + '</td>'
                        + '<td>' + js[i]["ArrivalTime"] + '</td>'
                        + '<td>' + js[i]["distance"] + '</td>'
                        + '</tr>';
                }
                table100m.appendChild(ele);

            }
            else {
                getSpotNum(currentUser);
                for (let i = 0; i < js.length; i++) {
                    ele.innerHTML +=
                        '<tr id="' + js[i]["GarbageTruckSpotId"] + '">'
                        + '<td id="tdFav' + js[i]["GarbageTruckSpotId"] + '"><label onclick="addFav()">♥️</label></td>'
                        + '<td onclick="initMap(' + js[i]["Latitude"] + ',' + js[i]["Longitude"] + ',' + '\'' + js[i]["Address"] + '\'' + ',' + js[i]["GarbageTruckSpotId"] + ')">' + js[i]["Address"] + '</td>'
                        + '<td onclick="initMap(' + js[i]["Latitude"] + ',' + js[i]["Longitude"] + ',' + '\'' + js[i]["Address"] + '\'' + ',' + js[i]["GarbageTruckSpotId"] + ')">' + js[i]["ArrivalTime"] + '</td>'
                        + '<td onclick="initMap(' + js[i]["Latitude"] + ',' + js[i]["Longitude"] + ',' + '\'' + js[i]["Address"] + '\'' + ',' + js[i]["GarbageTruckSpotId"] + ')">' + js[i]["distance"] + '</td>'
                        + '</tr>';
                }
                table100m.appendChild(ele);

                if (document.getElementById('lblSource').innerText != '您的收藏清單，') {
                    if (userFav.length) {
                        for (let i = 0; i < userFav.length; i++) {
                            if (document.getElementById(`tdFav${userFav[i]}`)) {
                                document.getElementById(`tdFav${userFav[i]}`).innerHTML = '';
                            }
                        }
                    }
                } else{
                    if (userFav.length) {
                        for (let i = 0; i < userFav.length; i++) {
                            if (document.getElementById(`tdFav${userFav[i]}`)) {
                                document.getElementById(`tdFav${userFav[i]}`).innerHTML = '<label onclick="removeFav()">♡</label>';
                            }
                        }
                    }
                }
            }


            if (timeOrder == -1) {
                document.getElementById("thOrderTime").innerText = "到達時間▲";
            }
            else {
                document.getElementById("thOrderTime").innerText = "到達時間▼";
            }

            document.getElementById("thOrderDistance").innerText = "距離（公尺）☰";
            timeOrder = timeOrder * -1;
        }

        function orderByDistance() {
            document.getElementById("content").remove();
            var ele = document.createElement("tbody");
            ele.id = "content";
            js.sort(function (a, b) {
                return a.distance < b.distance ? distanceOrder : -1 * distanceOrder;
            });
            if (currentUser == 0) {
                $('#thFav0').remove();
                for (let i = 0; i < js.length; i++) {
                    ele.innerHTML +=
                        '<tr id="' + js[i]["GarbageTruckSpotId"] + '" onclick="initMap(' + js[i]["Latitude"] + ',' + js[i]["Longitude"] + ',' + '\'' + js[i]["Address"] + '\'' + ',' + js[i]["GarbageTruckSpotId"] + ')">'
                        + '<td>' + js[i]["Address"] + '</td>'
                        + '<td>' + js[i]["ArrivalTime"] + '</td>'
                        + '<td>' + js[i]["distance"] + '</td>'
                        + '</tr>';
                }
                table100m.appendChild(ele);
            }
            else {
                getSpotNum(currentUser);
                for (let i = 0; i < js.length; i++) {
                    ele.innerHTML +=
                        '<tr id="' + js[i]["GarbageTruckSpotId"] + '">'
                        + '<td id="tdFav' + js[i]["GarbageTruckSpotId"] + '"><label onclick="addFav()">♥️</label></td>'
                        + '<td onclick="initMap(' + js[i]["Latitude"] + ',' + js[i]["Longitude"] + ',' + '\'' + js[i]["Address"] + '\'' + ',' + js[i]["GarbageTruckSpotId"] + ')">' + js[i]["Address"] + '</td>'
                        + '<td onclick="initMap(' + js[i]["Latitude"] + ',' + js[i]["Longitude"] + ',' + '\'' + js[i]["Address"] + '\'' + ',' + js[i]["GarbageTruckSpotId"] + ')">' + js[i]["ArrivalTime"] + '</td>'
                        + '<td onclick="initMap(' + js[i]["Latitude"] + ',' + js[i]["Longitude"] + ',' + '\'' + js[i]["Address"] + '\'' + ',' + js[i]["GarbageTruckSpotId"] + ')">' + js[i]["distance"] + '</td>'
                        + '</tr>';
                }
                table100m.appendChild(ele);
                if (document.getElementById('lblSource').innerText != '您的收藏清單，') {
                    if (userFav.length) {
                        for (let i = 0; i < userFav.length; i++) {
                            if (document.getElementById(`tdFav${userFav[i]}`)) {
                                document.getElementById(`tdFav${userFav[i]}`).innerHTML = '';
                            }
                        }
                    }
                } else {
                    if (userFav.length) {
                        for (let i = 0; i < userFav.length; i++) {
                            if (document.getElementById(`tdFav${userFav[i]}`)) {
                                document.getElementById(`tdFav${userFav[i]}`).innerHTML = '<label onclick="removeFav()">♡</label>';
                            }
                        }
                    }
                }
            }


            if (distanceOrder == -1) {
                document.getElementById("thOrderDistance").innerText = "距離（公尺）▲";
            }
            else {
                document.getElementById("thOrderDistance").innerText = "距離（公尺）▼";
            }

            document.getElementById("thOrderTime").innerText = "到達時間☰";
            distanceOrder = distanceOrder * -1;
        }

        function captureSelect() {
            console.log($('#selectCity :selected').text());
            console.log($('#selectDistric :selected').text());
            console.log($('#txtAddress').val());

            console.log(typeof $('#selectCity :selected').text());
            console.log(typeof $('#selectDistric :selected').text());
            console.log(typeof $('#txtAddress').val());

            if ($('#selectCity :selected').index() != 0) {
                init300M($('#selectCity :selected').text() + $('#selectDistric :selected').text() + $('#txtAddress').val(), 'add');
                document.getElementById('lblSource').innerText = '您輸入的新地址，';
            }
            else {
                alert('請檢查搜尋條件！');
            }
        }

        function filter() {
            var timeStart = $('#selectTimeStart :selected').text();
            var timeEnd = $('#selectTimeEnd :selected').text();
            var distance = $('#rangeLevel :selected').text();

            if (timeStart == '請選擇'||timeEnd=='請選擇'||distance=='請選擇') {
                alert('請指定完整條件');
                return;
            }
            /*js0 = js;*/
            js = js0.filter(spot => spot.distance <= (distance)).filter(spot => spot.ArrivalTime >= timeStart).filter(spot => spot.ArrivalTime <= timeEnd);
            document.getElementById("content").remove();
            var ele = document.createElement("tbody");
            ele.id = "content";
            initMap(js, "l");
            console.log('filterinit');
            if (currentUser == 0) {
                $('#thFav0').remove();
                for (let i = 0; i < js.length; i++) {
                    ele.innerHTML +=
                        '<tr id="' + js[i]["GarbageTruckSpotId"] + '" onclick="initMap(' + js[i]["Latitude"] + ',' + js[i]["Longitude"] + ',' + '\'' + js[i]["Address"] + '\'' + ',' + js[i]["GarbageTruckSpotId"] + ')">'
                        + '<td>' + js[i]["Address"] + '</td>'
                        + '<td>' + js[i]["ArrivalTime"] + '</td>'
                        + '<td>' + js[i]["distance"] + '</td>'
                        + '</tr>';
                }
                table100m.appendChild(ele);
            }
            else {
                getSpotNum(currentUser);
                for (let i = 0; i < js.length; i++) {
                    ele.innerHTML +=
                        '<tr id="' + js[i]["GarbageTruckSpotId"] + '">'
                        + '<td id="tdFav' + js[i]["GarbageTruckSpotId"] + '"><label onclick="addFav()">♥️</label></td>'
                        + '<td onclick="initMap(' + js[i]["Latitude"] + ',' + js[i]["Longitude"] + ',' + '\'' + js[i]["Address"] + '\'' + ',' + js[i]["GarbageTruckSpotId"] + ')">' + js[i]["Address"] + '</td>'
                        + '<td onclick="initMap(' + js[i]["Latitude"] + ',' + js[i]["Longitude"] + ',' + '\'' + js[i]["Address"] + '\'' + ',' + js[i]["GarbageTruckSpotId"] + ')">' + js[i]["ArrivalTime"] + '</td>'
                        + '<td onclick="initMap(' + js[i]["Latitude"] + ',' + js[i]["Longitude"] + ',' + '\'' + js[i]["Address"] + '\'' + ',' + js[i]["GarbageTruckSpotId"] + ')">' + js[i]["distance"] + '</td>'
                        + '</tr>';
                }
                table100m.appendChild(ele);
                if (document.getElementById('lblSource').innerText != '您的收藏清單，') {
                    if (userFav.length) {
                        for (let i = 0; i < userFav.length; i++) {
                            if (document.getElementById(`tdFav${userFav[i]}`)) {
                                document.getElementById(`tdFav${userFav[i]}`).innerHTML = '';
                            }
                        }
                    }
                } else {
                    if (userFav.length) {
                        for (let i = 0; i < userFav.length; i++) {
                            if (document.getElementById(`tdFav${userFav[i]}`)) {
                                document.getElementById(`tdFav${userFav[i]}`).innerHTML = '<label onclick="removeFav()">♡</label>';
                            }
                        }
                    }
                }
            }

            document.getElementById("thOrderTime").innerText = "到達時間☰";
            document.getElementById("thOrderDistance").innerText = "距離（公尺）☰";
            setTimeout(() => { document.getElementById('bCount').innerText = `共 ${js.length} 個收集點`; }, 500);



            console.log(timeStart);
            console.log(timeEnd);
            console.log(typeof timeEnd);
            console.log(distance);
            console.log(typeof distance);
            console.log(js);
            console.log(js0);
            console.log(js[0]["ArrivalTime"]);
            console.log(typeof js[0]["ArrivalTime"]);
        }

        function consoleLog(event) {
            console.log(event);
            console.log("click");
        }

        function geoFindMe() {

            const status = document.querySelector('#status');
            const mapLink = document.querySelector('#map-link');

            mapLink.href = '';
            mapLink.textContent = '';

            function success(position) {
                const latitude = position.coords.latitude;
                const longitude = position.coords.longitude;

                latNow = latitude;
                lngNow = longitude;

                status.textContent = '定位完成';
                mapLink.href = `https://www.openstreetmap.org/#map=18/${latitude}/${longitude}`;
                mapLink.textContent = `緯度: ${latitude.toFixed(7)}°, 經度: ${longitude.toFixed(7)}°`;

                init300M('', 'nav');
                document.getElementById('lblSource').innerText = '您的GPS定位，';
            }

            function error() {
                status.textContent = '無法取得位置';
            }

            if (!navigator.geolocation) {
                status.textContent = '您的瀏覽器未支援定位功能';
            } else {
                status.textContent = '定位中...';
                navigator.geolocation.getCurrentPosition(success, error);
            }

        }

        //document.querySelector('#find-me').addEventListener('click', geoFindMe);
        //Get the button:
        mybutton = document.getElementById("myBtn");

        // When the user scrolls down 20px from the top of the document, show the button
        document.getElementById('leftSearch').onscroll = function () { scrollFunction() };

        function scrollFunction() {
            if (document.getElementById('leftSearch').scrollTop > 20 || document.getElementById('leftSearch').scrollTop > 20) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.getElementById('leftSearch').scrollTo({top: 0, behavior: 'smooth'}); // For Safari
            document.getElementById('leftSearch').scrollTo({top: 0, behavior: 'smooth'}); // For Chrome, Firefox, IE and Opera
        }

        function removeFav() {
            console.log('removed');
            console.log(event.target.parentNode.parentNode.id);
            var target = event.target.parentNode.parentNode.id;
            $.ajax({
                url: "/map/AdjFavorite?mem=" + currentUser + '&spot=' + event.target.parentNode.parentNode.id + '&type=1',
                type: "GET",
                async: false,
                success: function (result) {
                    alert(result+$(`#${target} td`).eq(1).text());
                }
            });
            //initFav();

            for (var i = 0; i < js0.length; i++) {
                if (js0[i]["GarbageTruckSpotId"] == event.target.parentNode.parentNode.id) {
                    js0.splice(i, 1);
                    console.log(js0);
                    js = js0;
                    initMap(js,'l');
                }
            }

            for (var i = 0; i < userFav.length; i++) {
                if (userFav[i] == event.target.parentNode.parentNode.id) {
                    userFav.splice(i, 1);
                }
            }
            getSpotNum(currentUser);
            document.getElementById(target).innerHTML = '';
            setTimeout(() => { document.getElementById('bCount').innerText = `共 ${js.length} 個收集點`; }, 500);

        }

        function addFav() {
            console.log('added');
            console.log(event.target.parentNode.parentNode.id);
            var target = event.target.parentNode.parentNode.id;
            $.ajax({
                url: "/map/AdjFavorite?mem=" + currentUser + '&spot=' + event.target.parentNode.parentNode.id + '&type=0',
                type: "GET",
                success: function (result) {
                    alert(result + $(`#${target} td`).eq(1).text());
                }
            });
            getSpotNum(currentUser);
            document.getElementById(`tdFav${event.target.parentNode.parentNode.id}`).innerHTML = '';
        }
    </script>
}