
#chat {
    position: relative;
    width: 100%;
    height: 90%;
    padding: 10px;
    overflow: auto;
}

#detail {
    margin: 10px;
}

#chatheader {
    background: #3498db;
    color: #FFFFFF;
}

.sideheader {
    background: #2980b9;
    color: #FFFFFF;
}

#inputbox {
    position: absolute;
    bottom: 0;
}

#link_btn div {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

    #link_btn div:hover {
        background-color: lightgray;
        cursor: pointer;
    }

.self {
    float: right;
    width: 60%;
    text-align: right;
    position: relative;
    padding-bottom: 10px;
}

    .self > div div {
        display: inline-block;
        word-break: break-all;
        background: #3F51B5 none repeat scroll 0 0;
        border-radius: 5px;
        font-size: 14px;
        margin: 0;
        color: #fff;
        padding: 5px 10px 5px 12px;
    }

.other {
    float: left;
    text-align: left;
    width: 60%;
    padding-bottom: 10px;
}

    .other > div div {
        display: inline-block;
        word-break: break-all;
        background-color: lightgreen;
        border-radius: 3px;
        color: #646464;
        font-size: 14px;
        margin: 0;
        padding: 5px 10px 5px 12px;
    }


img {
    max-width: 100%;
}

.inbox_people {
    background: #e5e8ef;
    float: left;
    overflow: hidden;
    width: 100%;
    border-right: 1px solid #c4c4c4;
    border-left: 1px solid #c4c4c4;
    height: 100%;
    padding:0;
}

.inbox_msg {
    border: 1px solid #c4c4c4;
    clear: both;
    overflow: hidden;
}


.srch_bar {
    display: inline-block;
    text-align: right;
    width: 60%;
}

.headind_srch {
    padding: 10px 20px 10px 20px;
    overflow: hidden;
    border-bottom: 1px solid #c4c4c4;
    margin-bottom:10px;
}

.chat_img {
    float: left;
    width: 11%;
}

.chat_people {
    overflow: hidden;
    clear: both;
}

.chat_list {
    border-bottom: 1px solid #c4c4c4;
    margin: 0;
    padding: 18px 16px 10px;
}

.inbox_chat {
    height: auto;
    overflow-y: auto;
}

.active_chat {
    /*background: #ebebeb;*/
    background-color:lightgrey;
}

.incoming_msg_img {
    display: inline-block;
    width: 6%;
}

.received_msg {
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
    width: 92%;
}

.received_withd_msg p {
    background: #ebebeb none repeat scroll 0 0;
    border-radius: 3px;
    color: #646464;
    font-size: 14px;
    margin: 0;
    padding: 5px 10px 5px 12px;
    width: 100%;
}

.time_date {
    color: #747474;
    display: block;
    font-size: 12px;
    margin: 8px 0 0;
}

.received_withd_msg {
    width: 57%;
}

.mesgs {
    /*float: left;*/
    padding: 0px 0px 10px 0px;
    /*width: 60%;*/
    height: 100%;
    
}

.sent_msg p {
    background: #05728f none repeat scroll 0 0;
    border-radius: 3px;
    font-size: 14px;
    margin: 0;
    color: #fff;
    padding: 5px 10px 5px 12px;
    width: 100%;
}

.outgoing_msg {
    overflow: hidden;
    margin: 26px 0 26px;
}

.sent_msg {
    float: right;
    width: 46%;
}

.input_msg_write {
    
    border-top:1px solid gray;
    position: relative;
    width:100%;
    height:6.5%;
}

    .input_msg_write input {
        margin-top: 2px;
        margin-left: 10px;
        background: #ddd;
        border: medium none;
        color: #4c4c4c;
        font-size: 15px;
        position: absolute;
        border-radius: 3px;
        /*min-height: 48px;*/
        width: 86%;
        height: 85%;
    }

.type_msg {
    border-top: 1px solid #c4c4c4;
    position: relative;
    bottom:45px;
}

.msg_send_btn {
    background: #05728f none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    height: 70%;
    position: absolute;
    border-radius: 10px;
    right: 10px;
    top: 15%;
    width: 10%;
}

.messaging {
    padding: 0 0 50px 0;
}

.msg_history {
    height: 10%;
    overflow-y: auto;
}
