#link_btn div {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

#link_btn div:hover {
    background-color: lightgray;
    cursor: pointer;
}

.self {
    float: right;
    width: 60%;
    text-align: right;
    position: relative;
    padding-bottom: 10px;
}

.self > div div {
    display: inline-block;
    word-break: break-all;
    background: #3F51B5 none repeat scroll 0 0;
    border-radius: 5px;
    font-size: 14px;
    margin: 0;
    color: #fff;
    padding: 5px 10px 5px 12px;
}

.other {
    float: left;
    text-align: left;
    width: 60%;
    padding-bottom: 10px;
}

.other > div div {
    display: inline-block;
    word-break: break-all;
    background-color: lightgreen;
    border-radius: 3px;
    color: #646464;
    font-size: 14px;
    margin: 0;
    padding: 5px 10px 5px 12px;
}

.inbox_msg {
    border: 1px solid #c4c4c4;
    clear: both;
    overflow: hidden;
}


.srch_bar {
    display: inline-block;
    text-align: right;
    width: 60%;
}

.chat_list {
    border-bottom: 1px solid #c4c4c4;
    margin: 0;
    padding: 18px 16px 10px;
}

.active_chat {
    /*background: #ebebeb;*/
    background-color:lightgrey;
}

.received_withd_msg p {
    background: #ebebeb none repeat scroll 0 0;
    border-radius: 3px;
    color: #646464;
    font-size: 14px;
    margin: 0;
    padding: 5px 10px 5px 12px;
    width: 100%;
}

.time_date {
    color: #747474;
    display: block;
    font-size: 12px;
    margin: 8px 0 0;
}

.sent_msg p {
    background: #05728f none repeat scroll 0 0;
    border-radius: 3px;
    font-size: 14px;
    margin: 0;
    color: #fff;
    padding: 5px 10px 5px 12px;
    width: 100%;
}

.outgoing_msg {
    overflow: hidden;
    margin: 26px 0 26px;
}

/*.sent_msg {
    float: right;
    width: 46%;
}*/

.input_msg_write input {
    margin-top: 2px;
    margin-left: 10px;
    background: #ddd;
    border: medium none;
    color: #4c4c4c;
    font-size: 15px;
    position: absolute;
    border-radius: 3px;
    /*min-height: 48px;*/
    width: 86%;
    height: 85%;
}

.type_msg {
    border-top: 1px solid #c4c4c4;
    position: relative;
    bottom:45px;
}

.messaging {
    padding: 0 0 50px 0;
}

.msg_history {
    height: 10%;
    overflow-y: auto;
}

.msg-input {
    overflow-y: auto;
    height: 2rem !important;
    border: none;
    resize: none;
}
.msg-input:focus {
    outline: none
}

.msg-box {
    line-height: 1;
    padding: 0.5rem 0.75rem;
    border-radius: 1rem;
}
.msg-in {
    align-self: flex-start;
    max-width: 20.5rem;
    background-color:#ffffff
}
.msg-out {
    align-self: flex-start;
    max-width: 20.5rem;
    background-color: #fff447
}
.msg-time {
    align-self: flex-end;
    font-size: 0.5rem;
}


