@model LeSheTuanGo.Models.GarbageServiceOffer

@{
    ViewData["Title"] = "活動編輯";
}

<h1>活動編輯</h1>

<h4>GarbageServiceOffer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="GarbageServiceId" />
            <div class="form-group">
                <label asp-for="ServiceTypeId" class="control-label"></label>
                <select asp-for="ServiceTypeId" class="form-control" asp-items="ViewBag.ServiceTypeId"></select>
                <span asp-validation-for="ServiceTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HostMemberId" class="control-label"></label>
                <select asp-for="HostMemberId" class="form-control" asp-items="ViewBag.HostMemberId"></select>
                <span asp-validation-for="HostMemberId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DistrictId" class="control-label"></label>
                <select asp-for="DistrictId" class="form-control" asp-items="ViewBag.DistrictId"></select>
                <span asp-validation-for="DistrictId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartTime" class="control-label"></label>
                <input asp-for="StartTime" class="form-control" />
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndTime" class="control-label"></label>
                <input asp-for="EndTime" class="form-control" />
                <span asp-validation-for="EndTime" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Latitude" class="control-label"></label>
                <input asp-for="Latitude" class="form-control" />
                <span asp-validation-for="Latitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Longitude" class="control-label"></label>
                <input asp-for="Longitude" class="form-control" />
                <span asp-validation-for="Longitude" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="CanGo" /> @Html.DisplayNameFor(model => model.CanGo)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="GoRangeId" class="control-label"></label>
                <select asp-for="GoRangeId" class="form-control" asp-items="ViewBag.GoRangeId"></select>
                <span asp-validation-for="GoRangeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="L3maxCount" class="control-label"></label>
                <input asp-for="L3maxCount" class="form-control" />
                <span asp-validation-for="L3maxCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="L5maxCount" class="control-label"></label>
                <input asp-for="L5maxCount" class="form-control" />
                <span asp-validation-for="L5maxCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="L14maxCount" class="control-label"></label>
                <input asp-for="L14maxCount" class="form-control" />
                <span asp-validation-for="L14maxCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="L25maxCount" class="control-label"></label>
                <input asp-for="L25maxCount" class="form-control" />
                <span asp-validation-for="L25maxCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="L33maxCount" class="control-label"></label>
                <input asp-for="L33maxCount" class="form-control" />
                <span asp-validation-for="L33maxCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="L75maxCount" class="control-label"></label>
                <input asp-for="L75maxCount" class="form-control" />
                <span asp-validation-for="L75maxCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="L120maxCount" class="control-label"></label>
                <input asp-for="L120maxCount" class="form-control" />
                <span asp-validation-for="L120maxCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="儲存" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
