@model LeSheTuanGo.Models.GarbageServiceUseRecord

<h4>修改</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ServiceUseRecordId" />            
            <div class="form-group">
                <input type="hidden" asp-for="GarbageServiceOfferId" />
                <label asp-for="GarbageServiceOfferId" class="control-label"></label>
                <select asp-for="GarbageServiceOfferId" class="form-control" asp-items="ViewBag.GarbageServiceOfferId"></select>
                <span asp-validation-for="GarbageServiceOfferId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MemberId" class="control-label"></label>
                <select asp-for="MemberId" class="form-control" asp-items="ViewBag.MemberId"></select>
                <span asp-validation-for="MemberId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="L3count" class="control-label"></label>
                <input asp-for="L3count" class="form-control" />
                <span asp-validation-for="L3count" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="L5count" class="control-label"></label>
                <input asp-for="L5count" class="form-control" />
                <span asp-validation-for="L5count" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="L14count" class="control-label"></label>
                <input asp-for="L14count" class="form-control" />
                <span asp-validation-for="L14count" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="L25count" class="control-label"></label>
                <input asp-for="L25count" class="form-control" />
                <span asp-validation-for="L25count" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="L33count" class="control-label"></label>
                <input asp-for="L33count" class="form-control" />
                <span asp-validation-for="L33count" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="L75count" class="control-label"></label>
                <input asp-for="L75count" class="form-control" />
                <span asp-validation-for="L75count" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="L120count" class="control-label"></label>
                <input asp-for="L120count" class="form-control" />
                <span asp-validation-for="L120count" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="NeedCome" /> @Html.DisplayNameFor(model => model.NeedCome)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="ComeDistrictId" class="control-label"></label>
                <select asp-for="ComeDistrictId" class="form-control" asp-items="ViewBag.ComeDistrictId"></select>
                <span asp-validation-for="ComeDistrictId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ComeAddress" class="control-label"></label>
                <input asp-for="ComeAddress" class="form-control" />
                <span asp-validation-for="ComeAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
