@model LeSheTuanGo.ViewModels.GarbageServiceOffersViewModel
@{
    ViewData["Title"] = "新增服務 - ";
}
<form asp-action="Index">
    <div class="border-bottom-dark mb-2">
        <h2 onclick="CreateDemo()">新增倒垃圾服務</h2>
    </div>
    <div class="row w-50">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-6">
            <div class="form-group">
                <label class="control-label">縣市</label>
                <select asp-for="District.City.CityId" class="form-control" asp-items="ViewBag.City" id="cityId" name="cityId" onchange="getDistrict('#DistrictId')"></select>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label asp-for="DistrictId" class="control-label"></label>
                <select asp-for="DistrictId" class="form-control" asp-items="ViewBag.District" id="DistrictId" name="DistrictId"></select>
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input id="Address" name="Address" value=@ViewData["Address"] class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label asp-for="EndTime" class="control-label"></label>
                <input asp-for="EndTime" class="form-control" id="EndTime" name="EndTime" />
                <span asp-validation-for="EndTime" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="CanGo" onchange="checkCanGo()"/> @Html.DisplayNameFor(model => model.CanGo)
                </label>
            </div>
            <div class="form-group">
                <label id="rangeIdLabel" style="color:#808080" asp="GoRangeId">外送距離限制(公尺)</label>
                <select asp-for="GoRangeId" class="form-control" asp-items="ViewBag.GoRangeId" disabled></select>
                <input hidden name="GoRangeId" id="rangeIdBackUp" value="1" />
            </div>
        </div>
    </div>

    <div class="row w-50 pb-5">
        <div class="col-12">
            <div class="border-bottom-dark mb-2">
                <h5>垃圾袋尺寸</h5>
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label asp-for="L3maxCount" class="control-label"></label>
                <input asp-for="L3maxCount" class="form-control" id="L3maxCount" name="L3maxCount" value="0" />
                <span asp-validation-for="L3maxCount" class="text-danger"></span>
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label asp-for="L5maxCount" class="control-label"></label>
                <input asp-for="L5maxCount" class="form-control" id="L5maxCount" name="L5maxCount" value="0" />
                <span asp-validation-for="L5maxCount" class="text-danger"></span>
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label asp-for="L14maxCount" class="control-label"></label>
                <input asp-for="L14maxCount" class="form-control" id="L14maxCount" name="L14maxCount" value="0" />
                <span asp-validation-for="L14maxCount" class="text-danger"></span>
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label asp-for="L25maxCount" class="control-label"></label>
                <input asp-for="L25maxCount" class="form-control" id="L25maxCount" name="L25maxCount" value="0" />
                <span asp-validation-for="L25maxCount" class="text-danger"></span>
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label asp-for="L33maxCount" class="control-label"></label>
                <input asp-for="L33maxCount" class="form-control" id="L33maxCount" name="L33maxCount" value="0" />
                <span asp-validation-for="L33maxCount" class="text-danger"></span>
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label asp-for="L75maxCount" class="control-label"></label>
                <input asp-for="L75maxCount" class="form-control" id="L75maxCount" name="L75maxCount" value="0" />
                <span asp-validation-for="L75maxCount" class="text-danger"></span>
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label asp-for="L120maxCount" class="control-label"></label>
                <input asp-for="L120maxCount" class="form-control" id="L120maxCount" name="L120maxCount" value="0" />
                <span asp-validation-for="L120maxCount" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="column-btn bg-go-light py-1 row" style="width:28.7vw">
        <div class="px-1 col-6">
            <input type="submit" value="新增" class="btn btn-primary w-100" />
        </div>
        <div class="px-1 col-6">
            <a class="btn btn-primary w-100" href="/ChatMessageRecords/Index">查看紀錄</a>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        let cityS = document.querySelector("#cityId");
        let distS = document.querySelector("#DistrictId");

        let rangeLabel = document.querySelector("#rangeIdLabel");
        let rangeS = document.querySelector("#GoRangeId");
        let rangeBackUp = document.querySelector("#rangeIdBackUp");

        window.onload = function () {
            cityS.value = @ViewData["CityId"];
            fillDistrict(@ViewData["CityId"], "#DistrictId", function () {
                distS.value = @ViewData["DistrictId"];
            });
        }
        function CreateDemo() {
            $("#Address").val('信義路四段30巷39號');
            var t = new Date();
            t.setSeconds(0, 0);
            var month = ("" + (t.getMonth() + 1)).length == 2 ? "" + (t.getMonth() + 1) : "0" + (t.getMonth() + 1);
            var date = ("" + (t.getDate() + 1)).length == 2 ? "" + (t.getDate() + 1) : "0" + (t.getDate() + 1);
            var hours = ("" + t.getHours()).length == 2 ? "" + t.getHours() : "0" + t.getHours();
            var mins = ("" + t.getMinutes()).length == 2 ? ("" + t.getMinutes()) : ("0" + t.getMinutes());
            console.log(("" + t.getMinutes()).length);
            $("#EndTime").val(t.getFullYear() + "-" + month + "-" + date + "T" + hours + ":" + mins);
            $("#L3maxCount").val(0);
            $("#L5maxCount").val(0);
            $("#L14maxCount").val(0);
            $("#L25maxCount").val(0);
            $("#L33maxCount").val(0);
            $("#L75maxCount").val(0);
            $("#L120maxCount").val(0);
        }
        function checkCanGo() {
            if (event.target.checked) {
                rangeS.disabled = false;
                rangeBackUp.disabled = true;
                rangeLabel.style.color = "#000000";
            } else {
                rangeS.disabled = true;
                rangeBackUp.disabled = false;
                rangeLabel.style.color = "#808080";
            }
        }
    </script>
}
